body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
}

.box {
    margin-top: 80px;
    background: white;
    padding: 30px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

input {
    padding: 10px;
    margin: 8px;
    width: 80%;
}

button {
    padding: 10px 20px;
    background: #2c7be5;
    color: white;
    border: none;
    cursor: pointer;
}

.rain {
    background: #4e54c8;
    color: white;
    padding-top: 200px;
}

.sun {
    background: orange;
    color: white;
    padding-top: 200px;
}
